<!DOCTYPE html>
<html>
<head>
	<title>tpbstats</title>
	<meta charset="UTF-8">
	<meta name="description" content="The most popular movies on The Pirate Bay during the last 24 hours.">
	<meta name="keywords" content="The Pirate Bay, statistics, popular, movies, tpbstats">
</head>
<style>

body {
	font-family: monospace;
	font-size: 1.25em;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	text-align: left;
	padding: 0.5em;
}

</style>
<body>
<header>
	<h1>tpbstats</h1>
	<p>The most popular movies on The Pirate Bay during the last 24 hours.</p>
</header>
<main></main>
<footer>
	<p>Made with data from <a href="http://thepiratebay.se" title="The Pirate Bay">The Pirate Bay</a> and <a href="http://jpatterson.me/the-pirate-beacon/" title="The Pirate Beacon">The Pirate Beacon</a>.</p>
	<p>Powered by <a href="https://github.com/tpbstats" title="tpbstats on Github">GitHub</a>.</p>
</footer>
<script>

// Data

var topMovie = {{.topMovie}};
var time = {{.time}};

// References

var header = document.getElementsByTagName('header')[0];
var main = document.getElementsByTagName('main')[0];
var footer = document.getElementsByTagName('footer')[0];

// Functions for drawing tables

function getCell(type, value) {
	var cell = document.createElement(type);
	cell.innerHTML = value;
	return cell;
}

function getRow(type, array) {
	var row = document.createElement('tr');
	for (var i = 0; i < array.length; i++)
		row.appendChild(getCell(type, array[i]));
	return row;
}

function getTable(objects) {
	var table = document.createElement('table');
	var columns = [
		'#',
		'Title',
		'Seeders',
		'Leechers',
		'Peers',
		'IMDB',
		'RT'
	];
	table.appendChild(getRow('th', columns));
	for (var i = 0; i < objects.length; i++) {
		var object = objects[i];
		var row = [];
		row.push(i + 1);
		var title = object['title'];
		var url = 'http://www.imdb.com/title/tt' + object['id'];
		row.push('<a href="' + url + '" title="' + title + '">' + title + '</a>');
		row.push(object['seeders']);
		row.push(object['leechers']);
		row.push(object['peers']);
		row.push(object['imdb_rating'] / 10);
		row.push(object['tomato_meter']);
		table.appendChild(getRow('td', row));
	}
	return table;
}

// Draw table

main.appendChild(getTable(topMovie));

// Display time since update

var date = new Date(time);
var timeDisplay = document.createElement('p');
function timeUpdate() {
	var ms = new Date().getTime() - date.getTime();
	var minutes = Math.round(ms / 1000 / 60);
	var text = 'Updated ' + minutes + ' minutes ago.';
	timeDisplay.textContent = text;
}
timeUpdate();
setInterval(timeUpdate, 60 * 1000);
footer.insertBefore(timeDisplay, footer.firstChild);

</script>
</body>
</html>